.friend-list{
    position: fixed;
    top: 4.5rem;
    z-index: 100;
    right: 3rem;
    height: 70%;
    box-shadow: 1px 1px 8px rgb(193, 193, 193);
    padding: 1rem;
    border-radius: 1rem;
    background-color:white;
}

.friend{
    margin-top: 1rem;
    display: flex;
    flex: 1;
    /* background-color: aliceblue; */
    overflow-y: auto;
    scrollbar-width: none;

}

